<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fit Forecast</title>
    <link rel="stylesheet" id="light-mode" href="{{ url_for('static', filename='light_mode.css') }}">
    <link rel="stylesheet" id="dark-mode" href="{{ url_for('static', filename='dark_mode.css') }}" disabled>
    <script>
        // Function to show skeleton loader
        function showSkeleton() {
            document.getElementById('loading-skeleton').classList.remove('hidden');
            document.getElementById('weather-card-content').classList.add('hidden');
        }

        function hideSkeleton() {
            document.getElementById('loading-skeleton').classList.add('hidden');
            document.getElementById('weather-card-content').classList.remove('hidden');
        }

        document.addEventListener("DOMContentLoaded", function () {
            const lightMode = document.getElementById('light-mode');
            const darkMode = document.getElementById('dark-mode');
            const toggleCheckbox = document.getElementById('toggle-dark-mode');

            // Function to toggle between light and dark mode
            function toggleDarkMode() {
                setTimeout(() => {
                    if (toggleCheckbox.checked) {
                        // Switch to Dark Mode
                        darkMode.disabled = false;
                        lightMode.disabled = true;
                        localStorage.setItem('theme', 'dark');
                    } else {
                        // Switch to Light Mode
                        darkMode.disabled = true;
                        lightMode.disabled = false;
                        localStorage.setItem('theme', 'light');
                    }
                }, 300);
            }

            // Load saved theme preference on page load
            const savedTheme = localStorage.getItem('theme');
            if (savedTheme === 'dark') {
                darkMode.disabled = false;
                lightMode.disabled = true;
                toggleCheckbox.checked = true;
            }

            // Add change event to the checkbox to toggle modes
            toggleCheckbox.addEventListener('change', toggleDarkMode);

            const form = document.querySelector('form');
            form.addEventListener('submit', showSkeleton);
        });
    </script>
</head>

<body>
    <div>
        <h1>Fit Forecast</h1>
        <!-- <button class="dark-mode-button" id="toggle-dark-mode" onclick="toggleDarkMode()">Switch to Dark Mode</button> -->
        <div class="switch">
            <label class="theme-switch" for="toggle-dark-mode">
                <input type="checkbox" id="toggle-dark-mode" />
                <div class="slider round"></div>
            </label>
        </div>
    </div>
    {% if 'user_id' in session %}
    <form method="post" action="/" class="input-container">
        {{ form.hidden_tag() }}
        <div class="text-inputs-container">
            <div>
                {{ form.location.label }}
                {{ form.location }}
            </div>
            <div>
                {{ form.vibe.label }}
                {{ form.vibe }}
            </div>
            <div>
                {{ form.gender.label }}
                {{ form.gender }}
            </div>
        </div>
        <div class="form-group">
            {{ form.submit(class_='btn btn-primary') }}
        </div>
    </form>
    <div>
        {% for outfit in saved_outfits %}
        <h3>{{outfit.name}}</h3>
        <div class="outfit-recommendation">
            <div class="outfit-text">
                {{ outfit.outfit_desc }}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <!-- Skeleton Loader -->
    <div id="loading-skeleton" class="weather-card hidden">
        <div class="content">
            <div class="header-info">
                <div class="skeleton skeleton-text" style="width: 30%; height: 24px;"></div>
                <div class="skeleton skeleton-text" style="width: 50%; height: 16px;"></div>
            </div>
            <div style="display: flex; align-items: center; justify-content: space-between;">
                <div class="skeleton skeleton-text" style="width: 20%; height: 48px;"></div>
                <div class="skeleton skeleton-text" style="width: 48px; height: 48px;"></div>
            </div>
            <div class="additional-info">
                <div class="skeleton skeleton-text" style="width: 10%; height: 16px;"></div>
                <div class="skeleton skeleton-text" style="width: 10%; height: 16px;"></div>
                <div class="skeleton skeleton-text" style="width: 10%; height: 16px;"></div>
            </div>
            <div class="additional-info">
                <div class="skeleton skeleton-text" style="width: 30%; height: 16px;"></div>
                <div class="skeleton skeleton-text" style="width: 30%; height: 16px;"></div>
                <div class="skeleton skeleton-text" style="width: 30%; height: 16px;"></div>
            </div>
            <div class="outfit-recommendation">
                <div>
                    <div class="skeleton skeleton-text" style="width: 90%;"></div>
                    <div class="skeleton skeleton-text" style="width: 80%;"></div>
                    <div class="skeleton skeleton-text" style="width: 70%;"></div>
                </div>
            </div>
        </div>
        <div class="skeleton skeleton-image"></div>
    </div>
    <!-- Actual Content -->
    <div id="weather-card-content" class="weather-card">
        <div class="content">
            <div class="header-info">
                <h2>{{ city_name }}</h2>
                <h3><i>{{ region }}, {{ country }}</i></h3>
            </div>
            <img class="weather-icon" src="{{ icon_url }}" alt="Weather Icon">
            <div class="temperature">{{ temperature }}°F</div>
            <div class="description">{{ weather_description }}</div>
            <div class="additional-info">
                <div>
                    <span>{{ humidity }}%</span>
                    Humidity
                </div>
                <div>
                    <span>{{ rain_chance }}%</span>
                    Chance of Rain
                </div>
                <div>
                    <span>{{ wind_speed }} mph</span>
                    Wind Speed
                </div>
            </div>
            <div class="outfit-recommendation">
                <div class="outfit-text">
                    <span>Your Fit Forecast</span>
                    {% for key, value in outfit['outfit'].items() %}
                    <p>
                        <strong>{{ value['item'] }}</strong>: {{ value['description'] }}
                    </p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="img-container">
            <img class="outfit-image" src="{{ image_url }}">
        </div>
        {% if show_save_form %}
        <div>
            <form method="POST" action="/users/{{ session['user_id'] }}/save-outfit">
                {{ save_outfit_form.hidden_tag() }}
                <div class="form-group">
                    {{ save_outfit_form.name.label }} {{ save_outfit_form.name }}
                </div>
                <input type="hidden" name="outfit_data" value="{{ outfit_recommendation }}">
                <input type="hidden" name="image_url" value="{{ image_url }}">
                {{ form.submit(class_='btn btn-primary') }}
            </form>
        </div>
        {% endif %}
    </div>
    <div class="button-container">
        {% if 'user_id' not in session %}
        <a href="/login" class="login-button">Login</a>
        <a href="/register" class="register-button">Register</a>
        {% elif 'user_id' in session %}
        <a href="/logout" class="logout-button">Log Out</a>
        {% endif %}
    </div>
</body>
<footer>
    Logan Aros | Fit Forecast | <a href="github.com/loganaros">github.com/loganaros</a>
</footer>

</html>