<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" id="light-mode" href="{{ url_for('static', filename='light_mode.css') }}">
    <link rel="stylesheet" id="dark-mode" href="{{ url_for('static', filename='dark_mode.css') }}" disabled>
</head>
<body>
    <div class="container" style="margin-top: 2em;">
        {% for error in form.username.errors %}
        <div class="alert">
            {{ error }}
        </div>
        {% endfor %}
    </div>
    <div>
        <h2>Register</h2>
        <form method="post" action="/register" class="input-container">
            {{ form.hidden_tag() }}
            <div class="login-inputs-container">
                <div>
                    {{ form.username.label }}
                    {{ form.username }}
                </div>
                <div>
                    {{ form.password.label }}
                    {{ form.password }}
                </div>
            </div>
            <div class="form-group">
                {{ form.submit(class_='btn btn-primary') }}
            </div>
        </form>
        <p>Already have an account? <a href="login">Login Here</a></p>
    </div>
</body>
</html>